/**** Variables ****/

/**** Mixins ****/

/**** Global Styles ****/

html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    93.7% = units of 15px
    125% = units of 20px
     */
}

body {
  text-align: center;
}

.img-container {
  overflow: hidden;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.content-wrap {
  display: flex;
  flex-direction: column;
}

.main-carousel {
  width: 90%;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
}
