@media (min-width: 480px) {

  /**** Header ****/

  header {
    min-height: 40vh;
  }

  /**** Flickity ****/

  .flickity-prev-next-button {
    width: 60px;
    height: 60px;
  }

  /**** Footer ****/

  .social-icons {
    padding-top: 30px;
    width: 50%;

    .social-button {
      width: 55px;
      height: 55px;

      i {
        font-size: 1.7rem;
      }
    }
  }
}
