/**** Variables ****/

$lightPurple: #98878f;
$purple: #985E6D;
$lightBlue: #494E6B;
$darkBlue:#192231;
$white: #ffffff;

/**** Mixins ****/

/**** Global Styles ****/

html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    93.7% = units of 15px
    125% = units of 20px
     */
}



body {
  text-align: center;
  background-color: $darkBlue;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  padding: 40px 0;
}

h1,
h2,
p {
  color: $white;
}


h2,
p,
.selection {
  font-family: 'Roboto Mono', monospace;
}

h2,
p {
  padding: 25px 0;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.img-container {
  overflow: hidden;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.content-wrap {
  display: flex;
  flex-direction: column;
}

.main-carousel {
  width: 70%;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    color: $darkBlue;
    background-color: $purple;
    border: none;
    margin: 5px auto;
    padding: 10px 20px;

    &:hover {
      color: $white;
    }
  }
}
