@media (min-width: 480px) {
  header {
    min-height: 40vh;
  }

  .social-icons {
    padding-top: 30px;
    width: 50%;

    .social-button {
      width: 55px;
      height: 55px;

      i {
        font-size: 1.7rem;
      }
    }
  }
}
