@media (min-width: 768px) {
  html {
    font-size: 125%;
  }

  h1 {
    padding: 120px 0 60px 0;
  }

  header {
    min-height: 60vh;
  }

  .main-carousel {
    width: 90%;
    margin: 0 auto;
  }

  .flickity-prev-next-button.next {
    width: 110px;
    height: 110px;
  }

  .button-wrap {
    flex-direction: row;
  }
}
